repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff-check
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
  - id: pyright
- repo: local
  hooks:
  - id: cargo-check
    name: cargo check
    description: Check that Rust project can compile
    entry: cargo +stable check
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-fmt
    name: cargo fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
  - id: cargo-clippy
    name: cargo clippy
    description: Check files with cargo clippy
    entry: cargo +stable clippy
    language: system
    types: [rust]
    pass_filenames: false
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude_types: [jupyter]  # GitHub action will run on Notebooks
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.16
  hooks:
  - id: uv-lock
